$font-stack: Helvetica, sans-serif;
$blue: #6BD5E0;
$grey: #E8ECF0;


html {
	height: 100%;
	//width: 100%;
}

body {
  height: 100%;
  font: 100% $font-stack;
  color: $blue;
} 

// #align_er {
//   margin: 1em auto;
//   height: 60%;
//   width: 60%;
// }

h1 {
  margin: 1em auto;
  width: 60%;
}

table {
  margin: 1em auto;
  height: 60%;
  width: 60%;
}


td {
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr {
  //width: 20%;
  //height:30px;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

.container {
	height: 100%;
	width: 100%;
}

textarea:focus, input:focus{
    outline: 0;
    background-color: $grey;
}

textarea, input{
    outline: 0;
    border: 0;
}

button {
	margin: 1em auto;
	background-color: white;
	align: center;
	width: 60%;
	height: 40px;
	margin-left: 20%;
}

input {
	width: 95%;
	height: 95%;
	text-align: center;
	font-size: 200%;
}
